.wrapper {
  max-width: 400px;
  margin: 100px auto 0 auto;
}

.back {
  margin-bottom: 48px;
}

.title {
  margin-bottom: 32px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: var(--accent);
  font-size: 14px;
}

.submitBtn {
  width: 100%;
}
