.delete {
  background: transparent;
  color: var(--accent);
  border: none;
  font-family: inherit;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.delete:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
